<header class="header__wrapper">
  <div class="header">
    <nav>
      <a routerLink="/" class="link">
        <img src="./assets/circle.svg" alt="circle">
        Коллекция
      </a>

      <a routerLink="/" class="link">
        <img src="./assets/plus.svg" class="plus" alt="plus">
        Добавить
      </a>
    </nav>

    <a routerLink="/" class="logo">
      <img src="./assets/short-logo.svg" alt="logo">
    </a>

    <div class="actions">
      <app-button>
        <img src="./assets/loupe.svg" alt="loupe">
        Поиск
      </app-button>
      <img src="./assets/profile.svg" class="avatar" alt="profile">
    </div>
  </div>
</header>

<main>
  <ng-content></ng-content>
</main>
