<app-header>
  <div class="container">
    <h1>О фильме</h1>


    <app-toggle formControl = "toggle"></app-toggle>

    <form [formGroup]="form">
      <ng-container *ngIf="form.get('toggle')!.value === false; else whenToggleFalse">


        <div class="searchFilm">

          <label>Название</label>

          <input
            class="search"
            type="search"
            placeholder="Например, Титаник"
          >
<!--            formControl="searchInput"-->
        </div>

        <div class="films__container">
          <ng-container *ngIf="form.get('searchInput')!.value.length !== 0; else initState">
            <ng-container *ngIf="(films$ | async)!.length > 0; else notFound">
              <app-film (clickedOnPoster)="onClick($event)"></app-film>
            </ng-container>
          </ng-container>

          <ng-template #initState>
            <div></div>
          </ng-template>

          <ng-template #notFound>
            <div class="notFound">
              <div class="notFound__img"></div>
              <div class="notFound__info">
                <p>Фильм не найден</p>
                <p>Добавьте его вручную</p>
              </div>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </form>

    <ng-template #whenToggleFalse>
      false
    </ng-template>

  </div>
</app-header>

